.Container {
    margin-top: 3rem;
}

.Container:last-child {
    padding-bottom: 6rem;
}

.Title {
    color: #F18E60;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.List {
    list-style: none;
    font-size: 1.3rem;
}
